@font-face{
    src: url('fonts/FELIXTI.TTF');
    font-family: felix;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}

/*-------------------------------HEAD----------------------------------*/
.nemesis{
    text-shadow: 2px 2px black;
    color: #fdefb2;
    font-family: felix;
}
.slogan{
    text-shadow: 1px 1px white;
    color: black;
    font-style: bold;
    font-style: italic;
    font-family: felix;
}
.jyrald{
    font: 120px;
    color:black;
    font-family: felix;
    font-style: italic;
}

.nemesis p{
    color: black;
}

.jumbotron-head{
    background: url('img/florencebymills.jpg') no-repeat;
    text-align: center;
}
.subscribe{
    font-style: bold;
}

.bottom-img{
    width: 100%;
}

/*-------------------------------------- GOALS ------------------------------------------------*/
#goals{
    padding: 75px 0; 
}
.goals-img{
    border-radius: 75px;
    max-width: 150px;
    max-height: 150px;
    margin-top: 20px;
}
.goals{
    padding: 20px;
}

.goals h4{
    padding: 5px;
    margin-top: 25px;  
}
.goals p{
    font-style: italic;
    padding: 5px;
    margin-top:10px;  
}

/*-------------------------------------Product---------------------------------------------*/
.jumbotron-product{
    background: url('img/fentybeauty_20200304_123700_0.jpg') no-repeat;
    text-align: center;
}
.foundation{
    color: #9e9054;
    font-family: felix;
}
.foundation-line{
    font-style: bold;
}

/*------------------------------------Footer-------------------------------------------------*/
.footer-box{
    text-align: center;
    padding: 20px;
}

.icons-img{
    max-width: 50px;
    max-height: 50px;
    margin: 10px 20px 10px 20px
}


/**********************************************************************ABOUT.HTML*************************************************/
.about{
    margin: 5 10% 5% 10%;
}
.aboutus{
    margin: 3% 0% 0 0%;
}
.aboutus h1{
    text-align: center;
    font-family: felix;
    color: #9e9054;
    text-shadow: 1px 1px black;
}
.aboutus p{
    padding: 5% 5% 0% 9%;
}
.aboutpic img{
    border-radius: 30px;
    margin: 15% 0% 0 5%;
    width: 85%;
}

#font-nemesis{
    color: #9e9054;
    font-family: felix;
}

/*************************************************CONTACT********************************************************************/


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;}
.card h1{
    margin-left: 5%;
    margin-right: 5%;
    font-family: felix;
}
.title {
    color: grey;
    font-size: 18px;}
.card p{
    margin-left: 5%;
    margin-right: 5%;}
/**********************************************GALLERY************************************************************************/

.carousel-inner h5{
    color: white;
    text-shadow: 1px 2px black;
    font-family: felix;
}
.carousel-inner p{
    text-shadow: 1px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*********************************************PORTFOLIO**********************************************************************/

